

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so


qenv/
venv/
.venv/
__pycache__/
*.log
.cache/



.streamlit/
.streamlit/secrets.toml


logs/
*.log


*.faiss
*.pkl
*.db
vector_store/
storage/


.cache/
huggingface/
hf_cache/
~/.cache/huggingface/

.DS_Store
Thumbs.db


.vscode/
.idea/


.env
.env.local


*.tmp
*.bak
*.swp


uploaded_docs/
